* {
  margin: 0;
  padding: 0;
  Background: cream;
}
h1 {
  font-family: Cursive;
  font-weight: 900;
  color: cornflowerblue;
  text-align: center;
  font-size: 200px;
}
p{
  font-family: cursive;
  font-size: 100px;
  color: cornflowerblue;
  text-align: center;
}
#ice-cream {
  align: center;
  height: 500px;
  width: 500px;
}
